{{diagnostic}} <!-- THIS IS JUST TO SHOW THAT THE ENTIRE MODEL IS BEING UPDATED --> 

<form class="form-inline" *ngIf="active" (ngSubmit)="onSubmit()" #taskForm="ngForm"> <!-- The task form is now a reference to ngForm (it's given the form a name of taskForm), which controls the entire form and holds the DOM elms inside the form; note that Angular automatically creates and attaches an NgForm directive to the <form> tag -->
    <fieldset>
        <legend>Enter a new task:</legend>
        <div class="form-group">
            <!-- pristine means the user hasn't changed the form; dirty means it was changed. On the flip side, touched and untouched mean that the user focused in and then blurred out of the form -->
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> <!-- name refers to the template reference variable/primitive called #name on the input, which gives us access to the ngControl states -->
                Task name is required.
            </div>
            <label for="task_name">Task Name:
                <input type="text" class="form-control" id="task_name" [(ngModel)]="task.name" ngControl="name" #name="ngForm" required> <!-- ngModel exports as ngForm, hence why we're using it in our template reference variable -->
            </label>
        </div>
        <!-- The ngClick here is only being used to reset the active/pristine state on the form -->
        <button type="button" class="btn btn-success" (click)="newTask(); onSubmit(task.name)" [disabled]="!taskForm.form.valid">Add Task</button>
    </fieldset>
</form>