<h1>Home</h1>

<table class="table table-bordered table-striped table-responsive" summary="Table listing the current to do items">
    <thead>
        <tr>
            <th scope="col">
                <label>
                    <span class="sr-only">Select all tasks</span>
                    <input type="checkbox">
                </label>
            </th>
            <th scope="col">ID</th>
            <th scope="col">Task</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks; let i = index">
            <td>
                <label>
                    <span class="sr-only">Select task {{ task.name }}</span>
                    <input type="checkbox">
                </label>
            </td>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>
                <button class="btn btn-sm btn-info">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteTask(task.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<task-form (taskAdded)="taskAdded($event)"></task-form>